<div class="front">
    <h1>Find Your Events</h1>
</div>

<div class="nav">
    <ul>
        <li><a href="/">Home</li></a>
        <li><a href="/event/">Browse Events</li></a>
        {{! maybe a drop down to show categories of event?}}
        <li><a href="/about/">About</li></a>
    </ul>
</div>