<div class="front">
    
    <h1>Find Your Events</h1>
    <div><button class="evtbutton"><a href="/addEvent">Register Your Event On Our Website!</a></button></div>
</div>

<div class="nav">
    <ul>
        <li><a href="/">Home</li></a>
        {{! maybe a drop down to show categories of event?}}
        <li><a href="/about">About</li></a>
		<li><a href="/chat">Chat</li></a>
    </ul>
</div>