<div class="front">
    <div class="spacing"><button class="evtbutton"><a href="/addEvent">Click Here to Register Your Event On Our Website!</a></button></div>
    <h1>Find Your Events</h1>
    
</div>

<div class="nav">
    <ul>
        <li><a href="/">Home</li></a>
        {{! maybe a drop down to show categories of event?}}
        <li><a href="/about/">About</li></a>
    </ul>
</div>