<div class="about">
    <h2>Group Members: On Choi, Aidan McGovern</h2>
    <p>Event Finder is a website that facilitates the registration of events and the ticket system for them.</p>
    <p>Users can easily create, delete, and sign up for events. When a user registers for a specific event, an associated ticket will automatically generate for the event/user pair. The data associated with events, users, and tickets can be viewed in multiple ways using the api given in the documentation.</p>
</div>
