<h1>Create Event for ...</h1>
<div class="event">
    <form method="POST" action="/register">
        <div class="input-field">
            <label>Event Name:</label>
            <input type="text" name="name" size="50" placeholder="event name...">
        </div>
        <div class="input-field">
            <label>Location:</label>
            <input type="text" name="location" size="50" placeholder="venue, city, state...">
        </div>
         <div class="input-field">
            <label>Host:</label>
            <input type="text" name="host" size="50" placeholder="person/organization..">
        </div>
        <div class="input-field">
            <label>Date:</label>
            <input type="date" name="date">
        </div>
        <br>
        <button type="submit" class="evtbutton">Confirm and Submit Event</button>
    </form>
</div>
