.container {
    width: 70%;
    padding: 5px 15%;
}
/* Home */
.front {
    /*background-color: rgb(255, 254, 209);*/
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}

.cat {
    text-align: center;
}

.front h1 {
    font-weight:bold;
}

body {
    overflow: scroll;
}

.home {
    text-align: left;
}

article {
    overflow: auto;
    margin: 10px 0px 30px 0px;
    padding: 20px 50px 20px 50px;
    height: 200px;
    background-color: rgb(243, 231, 255);
}

/* About */
.about {
    overflow: auto;
    width: 70%;
    padding: 5px 15%;
    text-align: left;
}

/* Event */
.input-field label {
    display: inline-block;
    width: 100px;
}

.evtbutton {
    background-color: rgb(228, 185, 253);
    font-weight: bold;
    font-size: 14px;
    padding: 14px 40px;
    text-align: center;
    border-radius: 4px;
    border: none;
}

.evtbutton:hover, .addbutton:hover {
    background-color: rgb(255, 81, 255);
    color: white;
}
/* Navigation */
.nav {
    background-color: rgb(200, 155, 252);
    border-style: solid;
    border-width: 1px;
}
.nav ul {
    list-style-type: none;
}

.nav li {
    display: inline;
    font-size: 20px;
    font-weight: bold;
}

.nav a {
    color: black;
    text-decoration: none;
    padding-left: 14%;
    padding-right: 14%;
}